/* Bootstrap Changes */
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordionHeader {
  background-color: black !important;
  transform: background-color 0.2s;
}
.accordionHeader:hover 
{
  background: #e11f2c16 !important;
}
/* Bootstrap Changes End */

/* Others */
body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  /* overflow-x: hidden; */
}
.bodyText {
  max-width: 65ch;
}
em {
  color: var(--contrast);
  font-style: normal;
}
.image{
  object-fit: cover;
  object-position: center;
  border-bottom: 3px solid var(--contrast);
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
.square {
  aspect-ratio: 1;
}
.cardLink {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.bgContrast {
  background-color: var(--contrast);
}

.cursorFollower {
  position: fixed;
  width: 1000vw;
  height: 1000vw;
  background-image: url("../Assets/Spotlight.webp");
  opacity: 0.6;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.2s ease-out;
} 

@media screen and (max-width: 992px) {
  .cursorFollower {
    visibility: hidden;
  }
}

.btn:hover {
  transform: scaleX(1.03) scaleY(0.97);
}
.btn {
  transition: transform 0.11s !important;
}

.click {
  transform: scale(0.5);
  background-color: var(--contrast);
}
/* Others End */

/* Colors */
:root{
  --contrast: #E11F2C;
}
/* Colors End */

/* Fonts */
@font-face {
  font-family: "Michroma";
  src: url("../Assets/Fonts/Michroma-Regular.ttf");
}
@font-face {
  font-family: "Urbanist";
  src: url("../Assets/Fonts/Urbanist-VariableFont_wght.ttf");
}
.bodyFont{
  font-family: "Urbanist";
}
.titleFont{
  font-family: "Michroma";
}
/* Fonts End */

/* Loading Video */
@keyframes loadingVideoAnimation {
  0% {
    visibility: visible;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loadingVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  z-index: 19999;
  visibility: hidden;
  animation: loadingVideoAnimation 5s linear;
}
.loadingVideoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 19998;
  visibility: hidden;
  animation: loadingVideoAnimation 5s linear;
}

/* From Uiverse.io by Li-Deheng */ 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}

.closeButton {
  position: fixed;
  top: 2vw;
  right: 4vw;
  z-index: 20000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.1s ease-in;
}
.closeButton:hover {
  opacity: 1;
}
/* Loading Video End */

/* Loading Screen */
#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
}
.loadingLogo {
  width: clamp(150px, 50vw, 350px);
}
/* Loading Screen End */

/* Scroll Based Animations */
.hidden {
  opacity: 0;
  transform: translateY(10px);
}
.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.45s ease-in-out, transform 0.45s ease-in-out;
}
  
/* Scroll Based Animations End */

/* Navbar */
.navbarLogo {
  height: clamp(20px, 4.5vw, 30px);
}
.navbarLine {
  width: 40%;
  height: 0.5px;
  background-color: #E11F2C;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 992px) {
  .navbarLine{
    display: block;
  }
}
/* Navbar End */

/* Hero */
.heroImage{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  filter: blur(1px) brightness(0.3);
}
/* Hero End */

/* Introduction */
.introduction{
 background: linear-gradient(-10deg, rgba(0, 0, 0, 0), #e11f2c2a);
}
/* Introduction End */

/* Services */
.servicesAccordionImage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  min-height: 100px;
  filter: brightness(0.5);
  border-radius: 10px;
}
.servicesAccordionImage::after {
  content: "";
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}
.servicesAccordionImage1 {
  background-image: url("https://images.pexels.com/photos/1542252/pexels-photo-1542252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.servicesAccordionImage2 {
  background-image: url("https://images.pexels.com/photos/66134/pexels-photo-66134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.servicesAccordionImage3 {
  background-image: url("https://images.pexels.com/photos/326502/pexels-photo-326502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.servicesBigButton {
  width: 100%;
  max-width: 500px;
}

/* Services End */


/* Testimonials */
.testimonialContainer {
  box-shadow: 0 0 30px 0 #e11f2c32;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 35px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: var(--contrast);
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
/* Testimonials */


/* CTA */
.ctaCard {
  background-color: #e11f2c35;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.ctaImage {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  object-fit: cover;
  object-position: center;
  filter: blur(1px) brightness(0.5);
}
.ctaBigButton {
  width: 100%;
  max-width: 250px;
}
.ctaLogo {
  width: 30%;
}

/* CTA End */

/* Footer */
.footer{
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0), #e11f2c21); */
  backdrop-filter: blur(100px);
}
.footerLogo{
  width: clamp(200px, 25vw, 400px);
}
.copyTag {
  font-size: 13px;
}
.footerContactInfoText {
  font-size: 14px;
}
/* Footer End */

/* Client */
.clientImage {
  max-height: 60px;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
  transition: opacity 0.1s;
}
.clientImage:hover {
  opacity: 1;
  cursor: pointer;
}
/* Client End */


/* ABOUT PAGE____________________________________ */
/* About Hero */
.aboutHero {
  max-height: fit-content;
  height: 80vh;
}
.aboutHeroImage {
  height: inherit;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.15) blur(1px) grayscale(1);
}
.ourStoryImage {
  height: clamp(130px, 20vw, 200px);
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7) grayscale(1);
  border-bottom: 3px solid var(--contrast);
}
.ourStoryImageSmall {
  height: clamp(65px, 10vw, 100px);
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7) grayscale(1);
  border-bottom: 3px solid var(--contrast);
}
.ourStoryColor {
  height: clamp(130px, 20vw, 200px);
  background-color: var(--contrast);
}
.ourStoryColorSmall {
  height: clamp(65px, 10vw, 100px);
  background-color: var(--contrast);
}
/* About Hero End */

.ourOfficeImage {
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7) grayscale(1);
  max-height: 400px;
}
.teamImage {
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
  aspect-ratio: 3/4;
}
.clientsWorkImage {
  object-fit: cover;
  object-position: center;
  filter:grayscale(1); 
  width: 100%;
  height: 100%;
}
/* ABOUT PAGE END______________________________________ */

/* CONTACT PAGE______________________________________ */
/* Contact Hero */
.contactHero {
  max-height: fit-content;
  height: 60vh;
}
.contactHeroImage {
  height: inherit;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.15) blur(1px) grayscale(1);
}
.contactNowBackground {
  position: relative;
  overflow: hidden;
}
.contactNowBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.15); /* Adjust the brightness value as needed */
  z-index: 0;
}
.contactInfoImage {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/20523844/pexels-photo-20523844/free-photo-of-old-fashioned-white-phone-with-receiver.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  filter: brightness(0.5) grayscale(1);
  border-bottom: 3px solid var(--contrast);
}
.workingHoursImage {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  filter: brightness(0.5) grayscale(1);
  border-bottom: 3px solid var(--contrast);
}
/* Contact Hero End */
/* CONTACT PAGE END_______________________________________ */

/* SERVICES PAGE______________________________ */
/* Services Hero */
.servicesHeroImage {
  height: inherit;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5) blur(1px) grayscale(1);
}
.individualServiceImage {
  background-size: cover;
  background-position: center;
  filter:  grayscale(1);
  background-image: url("https://images.pexels.com/photos/7015034/pexels-photo-7015034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.servicesRow {
  height: min-content;
}
/* Services Hero End */
/* SERVICES PAGE END_____________________________ */

#scrollingVideo {
  display: inline-block;
  margin: 0 auto;
  position: sticky;
  top:0px;
  width: 100%;
}